body {
    font-family: sans-serif;
}

header a{
    border: 2px solid black;
    color: #4E2982;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 3px 0 #4E2982;
}

header{
    padding: 10px;
}


.link-nav{
    border: 2px solid black;
    color: #4E2982;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 3px 0 #4E2982;
}

nav{
    padding: 25px 0px 10px 10px;
}

main{
    color: #4E2982;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    margin: 0px auto 0px auto;
}

.link-nav:hover{
    color: black;
}

.link-header:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(129, 129, 129);
    box-shadow: 3px 5px 3px 0 black;
    transition: all 3s;
}

.link-nav:hover:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(129, 129, 129);
    box-shadow: 3px 5px 3px 0 black;
    transition: all 3s;
}

h2:hover{
    color: black;
    background-color: rgb(195, 185, 255);
}

h1:hover{
    color: black;
    background-color: rgb(195, 185, 255);
}

p:hover{
    color: black;
    background-color: rgb(195, 185, 255);
}
